.h-l2\:{
	&a{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 0),
			   (1, 0, 0, 0, 1, 1),
			   (1, 1, 1, 1, 0, 1),
			   (1, 1, 0, 0, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 0, 0, 0, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&b{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			@include box-shadow((
			   (1, 1, 1, 0, 0, 0),
			   (1, 0, 1, 0, 0, 0),
			   (1, 0, 1, 1, 1, 0),
			   (1, 0, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 0, 0, 1, 1),
			   (1, 1, 1, 1, 1, 0),
			));
		}
	}
	&c{
		width: calc(5 * var(--width));
		&:before{
			top: calc(2 * var(--height));
			@include box-shadow((
			   (0, 1, 1, 1, 1),
			   (1, 1, 0, 0, 1),
			   (1, 0, 1, 1, 1),
			   (1, 0, 1, 0, 0),
			   (1, 0, 1, 1, 1),
			   (1, 1, 0, 0, 1),
			   (0, 1, 1, 1, 1),
			));
		}
	}
	&d{
		width: calc(6 * var(--width));
		&:before{
			@include box-shadow((
			   (0, 0, 0, 1, 1, 1),
			   (0, 0, 0, 1, 0, 1),
			   (0, 1, 1, 1, 0, 1),
			   (1, 1, 0, 0, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 0, 1),
			   (0, 1, 1, 1, 1, 1),
			));
		}
	}
	&e{
		width: calc(6 * var(--width));
		&:before{
			top: calc(2 * var(--height));
			@include box-shadow((
			   (0, 1, 1, 1, 1, 0),
			   (1, 1, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 0, 0, 0, 1),
			   (1, 0, 1, 1, 1, 1),
			   (1, 1, 0, 0, 0, 1),
			   (0, 1, 1, 1, 1, 1),
			));
		}
	}
	&f{
		width: calc(6 * var(--width));
		&:before{
			@include box-shadow((
			   (0, 0, 1, 1, 1, 1),
			   (0, 1, 1, 0, 0, 1),
			   (1, 1, 0, 1, 1, 1),
			   (1, 0, 0, 0, 1, 0),
			   (1, 1, 0, 1, 1, 0),
			   (0, 1, 0, 1, 0, 0),
			   (0, 1, 0, 1, 0, 0),
			   (0, 1, 0, 1, 0, 0),
			   (0, 1, 1, 1, 0, 0),
			));
		}
	}
	&g{
		width: calc(6 * var(--width));
		&:before{
			top: calc(2 * var(--height));
			@include box-shadow((
			   (0, 1, 1, 1, 1, 1),
			   (1, 1, 0, 0, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 1, 1),
			   (1, 0, 0, 0, 0, 1),
			   (1, 1, 1, 1, 0, 1),
			   (1, 0, 0, 0, 1, 1),
			   (1, 1, 1, 1, 1, 0),
			));
		}
	}
	&h{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			@include box-shadow((
			   (1, 1, 1, 0, 0, 0),
			   (1, 0, 1, 0, 0, 0),
			   (1, 0, 1, 1, 1, 0),
			   (1, 0, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&i{
		width: calc(4 * var(--width));
		&:before{
			@include box-shadow((
			   (0, 1, 1, 1),
			   (0, 1, 0, 1),
			   (1, 1, 1, 1),
			   (1, 0, 0, 1),
			   (1, 1, 0, 1),
			   (0, 1, 0, 1),
			   (0, 1, 0, 1),
			   (0, 1, 0, 1),
			   (0, 1, 1, 1),
			));
		}
	}
	&j{
		width: calc(4 * var(--width));
		&:before{
			@include box-shadow((
			   (0, 1, 1, 1),
			   (0, 1, 0, 1),
			   (1, 1, 1, 1),
			   (1, 0, 0, 1),
			   (1, 1, 0, 1),
			   (0, 1, 0, 1),
			   (0, 1, 0, 1),
			   (0, 1, 0, 1),
			   (1, 1, 0, 1),
			   (1, 0, 1, 1),
			   (1, 1, 1, 0),
			));
		}
	}
	&k{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			@include box-shadow((
			   (1, 1, 1, 0, 0, 0),
			   (1, 0, 1, 0, 0, 0),
			   (1, 0, 1, 1, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 0, 1, 1),
			   (1, 0, 0, 0, 1, 0),
			   (1, 0, 1, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&l{
		width: calc(3 * var(--width));
		&:before{
			background: var(--color);
			@include box-shadow((
			   (1, 1, 1),
			   (1, 0, 1),
			   (1, 0, 1),
			   (1, 0, 1),
			   (1, 0, 1),
			   (1, 0, 1),
			   (1, 0, 1),
			   (1, 0, 1),
			   (1, 1, 1),
			));
		}
	}
	&m{
		width: calc(9 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 1, 1, 0),
			   (1, 0, 0, 0, 0, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1, 1, 0, 1),
			   (1, 1, 1, 1, 1, 1, 1, 1, 1),
			));
		}
	}
	&n{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 0),
			   (1, 0, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&o{
		width: calc(6 * var(--width));
		&:before{
			top: calc(2 * var(--height));
			@include box-shadow((
			   (0, 1, 1, 1, 1, 0),
			   (1, 1, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 1, 1),
			   (0, 1, 1, 1, 1, 0),
			));
		}
	}
	&p{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 0),
			   (1, 0, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 0, 0, 1, 1),
			   (1, 0, 1, 1, 1, 0),
			   (1, 0, 1, 0, 0, 0),
			   (1, 1, 1, 0, 0, 0),
			));
		}
	}
	&q{
		width: calc(6 * var(--width));
		&:before{
			top: calc(2 * var(--height));
			@include box-shadow((
			   (0, 1, 1, 1, 1, 1),
			   (1, 1, 0, 0, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 0, 1),
			   (0, 1, 1, 1, 0, 1),
			   (0, 0, 0, 1, 0, 1),
			   (0, 0, 0, 1, 1, 1),
			));
		}
	}
	&r{
		width: calc(5 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1),
			   (1, 0, 0, 0, 1),
			   (1, 0, 1, 1, 1),
			   (1, 0, 1, 0, 0),
			   (1, 0, 1, 0, 0),
			   (1, 0, 1, 0, 0),
			   (1, 1, 1, 0, 0),
			));
		}
	}
	&s{
		width: calc(5 * var(--width));
		&:before{
			top: calc(2 * var(--height));
			@include box-shadow((
			   (0, 1, 1, 1, 1),
			   (1, 1, 0, 0, 1),
			   (1, 0, 1, 1, 1),
			   (1, 1, 0, 1, 1),
			   (1, 1, 1, 0, 1),
			   (1, 0, 0, 1, 1),
			   (1, 1, 1, 1, 0),
			));
		}
	}
	&t{
		width: calc(5 * var(--width));
		&:before{
			top: var(--height);
			@include box-shadow((
			   (0, 1, 1, 1, 0),
			   (1, 1, 0, 1, 1),
			   (1, 0, 0, 0, 1),
			   (1, 1, 0, 1, 1),
			   (0, 1, 0, 1, 0),
			   (0, 1, 0, 1, 1),
			   (0, 1, 1, 0, 1),
			   (0, 0, 1, 1, 1),
			));
		}
	}
	&u{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 0, 0, 0, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&v{
		width: calc(7 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 0, 1, 1, 1),
			   (1, 0, 1, 1, 1, 0, 1),
			   (1, 1, 0, 1, 0, 1, 1),
			   (0, 1, 0, 1, 0, 1, 0),
			   (0, 1, 0, 1, 0, 1, 0),
			   (0, 1, 1, 0, 1, 1, 0),
			   (0, 0, 1, 1, 1, 0, 0),
			));
		}
	}
	&w{
		width: calc(9 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 1, 1, 1),
			   (1, 0, 1, 1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 1, 0, 1, 0, 1, 1),
			   (0, 1, 0, 1, 0, 1, 0, 1, 0),
			   (0, 1, 1, 0, 1, 0, 1, 1, 0),
			   (0, 0, 1, 0, 1, 0, 1, 0, 0),
			   (0, 0, 1, 1, 1, 1, 1, 0, 0),
			));
		}
	}
	&x{
		width: calc(7 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 0, 1, 1, 1),
			   (1, 0, 1, 1, 1, 0, 1),
			   (1, 1, 0, 1, 0, 1, 1),
			   (0, 1, 1, 0, 1, 1, 0),
			   (1, 1, 0, 1, 0, 1, 1),
			   (1, 0, 1, 1, 1, 0, 1),
			   (1, 1, 1, 0, 1, 1, 1),
			));
		}
	}
	&y{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 1, 1),
			   (0, 1, 0, 0, 1, 0),
			   (0, 1, 1, 0, 1, 0),
			   (0, 1, 1, 0, 1, 0),
			   (0, 1, 0, 1, 1, 0),
			   (0, 1, 1, 1, 1, 0),
			));
		}
	}
	&z{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			top: calc(2 * var(--height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			   (1, 0, 0, 0, 0, 1),
			   (1, 1, 1, 0, 1, 1),
			   (1, 1, 0, 1, 1, 0),
			   (1, 0, 1, 1, 1, 1),
			   (1, 0, 0, 0, 0, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
}