.h-l2\:{
	&1{
		width: calc(4 * var(--width));
		&:before{
			top: var(--height);
			@include box-shadow((
			   (0, 1, 1, 1),
			   (1, 1, 0, 1),
			   (1, 0, 0, 1),
			   (1, 1, 0, 1),
			   (0, 1, 0, 1),
			   (0, 1, 0, 1),
			   (0, 1, 0, 1),
			   (0, 1, 1, 1),
			));
		}
	}
	&2{
		width: calc(6 * var(--width));
		&:before{
			top: var(--height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 0),
			   (1, 1, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 1, 1, 0, 1),
			   (0, 1, 1, 0, 1, 0),
			   (1, 1, 0, 1, 1, 1),
			   (1, 0, 0, 0, 0, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&3{
		width: calc(6 * var(--width));
		&:before{
			background: var(--color);
			top: var(--height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 0),
			   (1, 0, 0, 0, 1, 1),
			   (1, 1, 1, 1, 0, 1),
			   (0, 0, 1, 0, 1, 1),
			   (0, 0, 1, 1, 0, 1),
			   (1, 1, 1, 1, 0, 1),
			   (1, 0, 0, 0, 1, 1),
			   (1, 1, 1, 1, 1, 0),
			));
		}
	}
	&4{
		width: calc(7 * var(--width));
		&:before{
			top: var(--height);
			@include box-shadow((
			   (0, 0, 0, 1, 1, 1, 0),
			   (0, 0, 1, 1, 0, 1, 0),
			   (0, 1, 1, 0, 0, 1, 0),
			   (1, 1, 0, 1, 0, 1, 1),
			   (1, 0, 0, 0, 0, 0, 1),
			   (1, 1, 1, 1, 0, 1, 1),
			   (0, 0, 0, 1, 0, 1, 0),
			   (0, 0, 0, 1, 1, 1, 0),
			));
		}
	}
	&5{
		width: calc(5 * var(--width));
		&:before{
			background: var(--color);
			top: var(--height);
			@include box-shadow((
			   (1, 1, 1, 1, 1),
			   (1, 0, 0, 0, 1),
			   (1, 0, 1, 1, 1),
			   (1, 0, 0, 1, 1),
			   (1, 1, 1, 0, 1),
			   (1, 1, 1, 0, 1),
			   (1, 0, 0, 1, 1),
			   (1, 1, 1, 1, 0),
			));
		}
	}
	&6{
		width: calc(6 * var(--width));
		&:before{
			top: var(--height);
			@include box-shadow((
			   (0, 0, 1, 1, 1, 0),
			   (0, 1, 1, 0, 1, 0),
			   (1, 1, 0, 1, 1, 0),
			   (1, 0, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 1, 1),
			   (0, 1, 1, 1, 1, 0),
			));
		}
	}
	&7{
		width: calc(7 * var(--width));
		&:before{
			background: var(--color);
			top: var(--height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 1),
			   (1, 0, 0, 0, 0, 0, 1),
			   (1, 1, 1, 1, 0, 1, 1),
			   (0, 0, 1, 1, 0, 1, 0),
			   (0, 0, 1, 0, 1, 1, 0),
			   (0, 1, 1, 0, 1, 0, 0),
			   (0, 1, 0, 1, 1, 0, 0),
			   (0, 1, 1, 1, 0, 0, 0),
			));
		}
	}
	&8{
		width: calc(6 * var(--width));
		&:before{
			top: var(--height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 0),
			   (1, 1, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 1, 1),
			   (0, 1, 1, 1, 1, 0),
			));
		}
	}
	&9{
		width: calc(6 * var(--width));
		&:before{
			top: var(--height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 0),
			   (1, 1, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 0, 1),
			   (0, 1, 1, 1, 0, 1),
			   (0, 0, 1, 0, 1, 1),
			   (0, 0, 1, 0, 1, 0),
			   (0, 0, 1, 1, 1, 0),
			));
		}
	}
	&0{
		width: calc(6 * var(--width));
		&:before{
			top: var(--height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 0),
			   (1, 1, 0, 0, 1, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 0, 1, 1, 0, 1),
			   (1, 1, 0, 0, 1, 1),
			   (0, 1, 1, 1, 1, 0),
			));
		}
	}
}