:root{
	--h-l2-color: black;
	--h-l2-height: 8px;
	--h-l2-width: 5px;
	--h-l2-word-spacing: calc(2 * var(--h-l2-width));
	--h-l2-letter-spacing: calc(var(--h-l2-width) / 2);
	--h-l2-line-space: calc(3 * var(--h-l2-height));
}

[class^="h-l2:"]{
	display: inline-block;
	height: calc(9 * var(--h-l2-height));
	margin-bottom: var(--h-l2-line-space);
	position: relative;
	&:before{
		content: '';
		height: var(--h-l2-height);
		left: 0;
		position: absolute;
		top: 0;
		width: var(--h-l2-width);
	}
	&:not(:last-child){
		margin-right: var(--h-l2-letter-spacing);
	}
}


.h-l2{
	font-size: 0;
	line-height: 0;
	&__word{
		display: inline-block;
		font-size: 0;
		line-height: 0;
		&:not(:last-child){
			margin-right: var(--h-l2-word-spacing);
		}
	}
	&__accessible{
	    background: #000;
	    border: 0;
		clip: rect(1px,1px,1px,1px);
	    -webkit-clip-path: inset(1px);
	    clip-path: inset(1px);
	    color: #fff;
	    display: block;
	    font-size: 20px;
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    white-space: nowrap;
	    width: 1px;
	}
	&--left{
		text-align: left;
	}
	&--center{
		text-align: center;
	}
	&--right{
		text-align: right;
	}
}