.h-l2\:{
	&\.{
		width: calc(3 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: calc(6 * var(--h-l2-height));
			@include box-shadow((
			   (1, 1, 1),
			   (1, 2, 1),
			   (1, 1, 1),
			));
		}
	}
	&\:{
		width: calc(3 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: calc(2 * var(--h-l2-height));
			@include box-shadow((
			   (1, 1, 1),
			   (1, 2, 1),
			   (1, 1, 1),
			   (1, 1, 1),
			   (1, 2, 1),
			   (1, 1, 1),
			));
		}
	}
	&\,{
		width: calc(3 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: calc(6 * var(--h-l2-height));
			@include box-shadow((
			   (1, 1, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 1, 1),
			));
		}
	}
	&\;{
		width: calc(4 * var(--h-l2-width));
		&:before{
			top: calc(2 * var(--h-l2-height));
			@include box-shadow((
			   (0, 1, 1, 1),
			   (0, 1, 2, 1),
			   (0, 1, 1, 1),
			   (0, 1, 1, 1),
			   (1, 1, 2, 1),
			   (1, 2, 1, 1),
			   (1, 1, 1, 0),
			));
		}
	}
	&\'{
		width: calc(4 * var(--h-l2-width));
		&:before{
			@include box-shadow((
			   (0, 1, 1, 1),
			   (1, 1, 2, 1),
			   (1, 2, 1, 1),
			   (1, 1, 1, 0),
			   (0, 0, 0, 0),
			   (0, 0, 0, 0),
			   (0, 0, 0, 0),
			   (0, 0, 0, 0),
			   (0, 0, 0, 0),
			));
		}
	}
	&\"{
		width: calc(5 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1),
			   (1, 2, 1, 2, 1),
			   (1, 2, 1, 2, 1),
			   (1, 1, 1, 1, 1),
			   (0, 0, 0, 0, 0),
			   (0, 0, 0, 0, 0),
			   (0, 0, 0, 0, 0),
			   (0, 0, 0, 0, 0),
			));
		}
	}
	&\({
		width: calc(4 * var(--h-l2-width));
		&:before{
			@include box-shadow((
			   (0, 1, 1, 1),
			   (1, 1, 2, 1),
			   (1, 2, 1, 1),
			   (1, 2, 1, 0),
			   (1, 2, 1, 0),
			   (1, 2, 1, 0),
			   (1, 2, 1, 0),
			   (1, 2, 1, 1),
			   (1, 1, 2, 1),
			   (0, 1, 1, 1),
			));
		}
	}
	&\){
		width: calc(4 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			@include box-shadow((
			   (1, 1, 1, 0),
			   (1, 2, 1, 1),
			   (1, 1, 2, 1),
			   (0, 1, 2, 1),
			   (0, 1, 2, 1),
			   (0, 1, 2, 1),
			   (0, 1, 2, 1),
			   (1, 1, 2, 1),
			   (1, 2, 1, 1),
			   (1, 1, 1, 0),
			));
		}
	}
	&\!{
		width: calc(3 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 1, 1),
			   (1, 2, 1),
			   (1, 1, 1),
			));
		}
	}
	&\?{
		width: calc(5 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 1),
			   (1, 1, 1, 2, 1),
			   (0, 1, 2, 2, 1),
			   (0, 1, 2, 1, 1),
			   (0, 1, 1, 1, 0),
			   (0, 1, 2, 1, 0),
			   (0, 1, 1, 1, 0),
			));
		}
	}
	&\+{
		width: calc(7 * var(--h-l2-width));
		&:before{
			top: calc(2 * var(--h-l2-height));
			@include box-shadow((
			   (0, 0, 1, 1, 1, 0, 0),
			   (0, 0, 1, 2, 1, 0, 0),
			   (1, 1, 1, 2, 1, 1, 1),
			   (1, 2, 2, 2, 2, 2, 1),
			   (1, 1, 1, 2, 1, 1, 1),
			   (0, 0, 1, 2, 1, 0, 0),
			   (0, 0, 1, 1, 1, 0, 0),
			));
		}
	}
	&\-{
		width: calc(8 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: calc(4 * var(--h-l2-height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 2, 2, 1),
			   (1, 1, 1, 1, 1, 1, 1, 1),
			   (0, 0, 0, 0, 0, 0, 0, 0),
			   (0, 0, 0, 0, 0, 0, 0, 0),
			));
		}
	}
	&\*{
		width: calc(6 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 0),
			   (0, 1, 2, 1, 1, 1),
			   (1, 1, 2, 2, 2, 1),
			   (1, 2, 2, 2, 1, 1),
			   (1, 1, 1, 2, 1, 0),
			   (0, 0, 1, 1, 1, 0),
			   (0, 0, 0, 0, 0, 0),
			   (0, 0, 0, 0, 0, 0),
			));
		}
	}
	&\/{
		width: calc(7 * var(--h-l2-width));
		&:before{
			top: calc(2 * var(--h-l2-height));
			@include box-shadow((
			   (0, 0, 0, 0, 1, 1, 1),
			   (0, 0, 0, 1, 1, 2, 1),
			   (0, 0, 1, 1, 2, 1, 1),
			   (0, 1, 1, 2, 1, 1, 0),
			   (1, 1, 2, 1, 1, 0, 0),
			   (1, 2, 1, 1, 0, 0, 0),
			   (1, 1, 1, 0, 0, 0, 0),
			));
		}
	}
	&\={
		width: calc(6 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: calc(3 * var(--h-l2-height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 1),
			   (1, 1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 1),
			   (1, 1, 1, 1, 1, 1),
			   (0, 0, 0, 0, 0, 0),
			));
		}
	}
	&\[{
		width: calc(4 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			@include box-shadow((
			   (1, 1, 1, 1),
			   (1, 2, 2, 1),
			   (1, 2, 1, 1),
			   (1, 2, 1, 0),
			   (1, 2, 1, 0),
			   (1, 2, 1, 0),
			   (1, 2, 1, 0),
			   (1, 2, 1, 1),
			   (1, 2, 2, 1),
			   (1, 1, 1, 1),
			));
		}
	}
	&\]{
		width: calc(4 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			@include box-shadow((
			   (1, 1, 1, 1),
			   (1, 2, 2, 1),
			   (1, 1, 2, 1),
			   (0, 1, 2, 1),
			   (0, 1, 2, 1),
			   (0, 1, 2, 1),
			   (0, 1, 2, 1),
			   (1, 1, 2, 1),
			   (1, 2, 2, 1),
			   (1, 1, 1, 1),
			));
		}
	}
}
