.h-l2\:{
	&A{
		width: calc(7 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 0, 1, 1, 1, 0, 0),
			   (0, 1, 1, 2, 1, 1, 0),
			   (0, 1, 2, 1, 2, 1, 0),
			   (0, 1, 2, 1, 2, 1, 0),
			   (1, 1, 2, 1, 2, 1, 1),
			   (1, 2, 2, 2, 2, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 1, 1, 0, 1, 1, 1),
			));
		}
	}
	&B{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 0),
			   (1, 2, 2, 2, 2, 1, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 2, 2, 2, 1, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 2, 2, 2, 1, 1),
			   (1, 1, 1, 1, 1, 1, 0),
			));
		}
	}
	&C{
		width: calc(6 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 1),
			   (1, 1, 2, 2, 2, 1),
			   (1, 2, 1, 1, 1, 1),
			   (1, 2, 1, 0, 0, 0),
			   (1, 2, 1, 0, 0, 0),
			   (1, 2, 1, 1, 1, 1),
			   (1, 1, 2, 2, 2, 1),
			   (0, 1, 1, 1, 1, 1),
			));
		}
	}
	&D{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 0),
			   (1, 2, 2, 2, 2, 1, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 2, 2, 2, 1, 1),
			   (1, 1, 1, 1, 1, 1, 0),
			));
		}
	}
	&E{
		width: calc(6 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 1),
			   (1, 2, 1, 1, 1, 1),
			   (1, 2, 2, 2, 1, 0),
			   (1, 2, 1, 1, 1, 0),
			   (1, 2, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&F{
		width: calc(6 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 1),
			   (1, 2, 1, 1, 1, 1),
			   (1, 2, 2, 2, 1, 0),
			   (1, 2, 1, 1, 1, 0),
			   (1, 2, 1, 0, 0, 0),
			   (1, 2, 1, 0, 0, 0),
			   (1, 1, 1, 0, 0, 0),
			));
		}
	}
	&G{
		width: calc(7 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 1, 1),
			   (1, 1, 2, 2, 2, 2, 1),
			   (1, 2, 1, 1, 1, 1, 1),
			   (1, 2, 1, 1, 2, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 1, 2, 2, 2, 2, 1),
			   (0, 1, 1, 1, 1, 1, 1),
			));
		}
	}
	&H{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 0, 1, 1, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 2, 2, 2, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 1, 1, 0, 1, 1, 1),
			));
		}
	}
	&I{
		width: calc(3 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 2, 1),
			   (1, 1, 1),
			));
		}
	}
	&J{
		width: calc(5 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 0, 1, 1, 1),
			   (0, 0, 1, 2, 1),
			   (0, 0, 1, 2, 1),
			   (0, 0, 1, 2, 1),
			   (0, 0, 1, 2, 1),
			   (1, 1, 1, 2, 1),
			   (1, 2, 2, 1, 1),
			   (1, 1, 1, 1, 0),
			));
		}
	}
	&K{
		width: calc(6 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 2, 1, 2, 1, 1),
			   (1, 2, 2, 1, 1, 0),
			   (1, 2, 2, 2, 1, 0),
			   (1, 2, 1, 2, 1, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&L{
		width: calc(5 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 0, 0),
			   (1, 2, 1, 0, 0),
			   (1, 2, 1, 0, 0),
			   (1, 2, 1, 0, 0),
			   (1, 2, 1, 0, 0),
			   (1, 2, 1, 1, 1),
			   (1, 2, 2, 2, 1),
			   (1, 1, 1, 1, 1),
			));
		}
	}
	&M{
		width: calc(9 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 1, 1, 1, 0, 1, 1, 1, 0),
			   (0, 1, 2, 1, 0, 1, 2, 1, 0),
			   (1, 1, 2, 1, 1, 1, 2, 1, 1),
			   (1, 2, 2, 2, 1, 2, 2, 2, 1),
			   (1, 2, 1, 2, 1, 2, 1, 2, 1),
			   (1, 2, 1, 2, 1, 2, 1, 2, 1),
			   (1, 2, 1, 1, 2, 1, 1, 2, 1),
			   (1, 1, 1, 1, 1, 1, 1, 1, 1),
			));
		}
	}
	&N{
		width: calc(6 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 2, 2, 1, 2, 1),
			   (1, 2, 2, 2, 2, 1),
			   (1, 2, 1, 2, 2, 1),
			   (1, 2, 1, 2, 2, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&O{
		width: calc(7 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 1, 0),
			   (1, 1, 2, 2, 2, 1, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 1, 2, 2, 2, 1, 1),
			   (0, 1, 1, 1, 1, 1, 0),
			));
		}
	}
	&P{
		width: calc(6 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 0),
			   (1, 2, 2, 2, 1, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 2, 2, 2, 1, 1),
			   (1, 2, 1, 1, 1, 0),
			   (1, 2, 1, 0, 0, 0),
			   (1, 1, 1, 0, 0, 0),
			));
		}
	}
	&Q{
		width: calc(8 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 1, 1, 1, 1, 1, 0, 0),
			   (1, 1, 2, 2, 2, 1, 1, 0),
			   (1, 2, 1, 1, 1, 2, 1, 0),
			   (1, 2, 1, 0, 1, 2, 1, 0),
			   (1, 2, 1, 0, 1, 2, 1, 0),
			   (1, 2, 1, 1, 1, 2, 1, 0),
			   (1, 1, 2, 2, 2, 1, 1, 1),
			   (0, 1, 1, 1, 1, 2, 2, 1),
			   (0, 0, 0, 0, 1, 1, 1, 1),
			));
		}
	}
	&R{
		width: calc(6 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 0),
			   (1, 2, 2, 2, 1, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 2, 2, 2, 1, 1),
			   (1, 2, 1, 2, 1, 1),
			   (1, 2, 1, 1, 2, 1),
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&S{
		width: calc(5 * var(--h-l2-width));
		&:before{
			top: var(--h-l2-height);
			@include box-shadow((
			   (0, 1, 1, 1, 1),
			   (1, 1, 2, 2, 1),
			   (1, 2, 1, 1, 1),
			   (1, 1, 2, 1, 1),
			   (0, 1, 1, 2, 1),
			   (1, 1, 1, 2, 1),
			   (1, 2, 2, 1, 1),
			   (1, 1, 1, 1, 0),
			));
		}
	}
	&T{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 2, 1),
			   (1, 1, 1, 2, 1, 1, 1),
			   (0, 0, 1, 2, 1, 0, 0),
			   (0, 0, 1, 2, 1, 0, 0),
			   (0, 0, 1, 2, 1, 0, 0),
			   (0, 0, 1, 2, 1, 0, 0),
			   (0, 0, 1, 1, 1, 0, 0),
			));
		}
	}
	&U{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 0, 1, 1, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 1, 2, 2, 2, 1, 1),
			   (0, 1, 1, 1, 1, 1, 0),
			));
		}
	}
	&V{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 0, 1, 1, 1),
			   (1, 2, 1, 0, 1, 2, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 2, 2, 1, 2, 2, 1),
			   (1, 1, 2, 1, 2, 1, 1),
			   (0, 1, 2, 1, 2, 1, 0),
			   (0, 1, 1, 2, 1, 1, 0),
			   (0, 0, 1, 1, 1, 0, 0),
			));
		}
	}
	&W{
		width: calc(9 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 1, 1, 1),
			   (1, 2, 1, 1, 2, 1, 1, 2, 1),
			   (1, 2, 1, 1, 2, 1, 1, 2, 1),
			   (1, 2, 1, 2, 1, 2, 1, 2, 1),
			   (1, 2, 1, 2, 1, 2, 1, 2, 1),
			   (1, 2, 1, 2, 1, 2, 1, 2, 1),
			   (1, 1, 2, 1, 1, 1, 2, 1, 1),
			   (0, 1, 1, 1, 0, 1, 1, 1, 0),
			));
		}
	}
	&X{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 0, 1, 1, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 1, 2, 1, 2, 1, 1),
			   (0, 1, 1, 2, 1, 1, 0),
			   (0, 1, 1, 2, 1, 1, 0),
			   (1, 1, 2, 1, 2, 1, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 1, 1, 0, 1, 1, 1),
			));
		}
	}
	&Y{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 0, 1, 1, 1),
			   (1, 2, 1, 1, 1, 2, 1),
			   (1, 1, 2, 1, 2, 1, 1),
			   (0, 1, 1, 2, 1, 1, 0),
			   (0, 0, 1, 2, 1, 0, 0),
			   (0, 0, 1, 2, 1, 0, 0),
			   (0, 0, 1, 2, 1, 0, 0),
			   (0, 0, 1, 1, 1, 0, 0),
			));
		}
	}
	&Z{
		width: calc(7 * var(--h-l2-width));
		&:before{
			background: var(--h-l2-color);
			top: var(--h-l2-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 2, 1),
			   (1, 1, 1, 1, 2, 1, 1),
			   (0, 1, 1, 2, 1, 1, 0),
			   (1, 1, 2, 1, 1, 0, 0),
			   (1, 2, 1, 1, 1, 1, 1),
			   (1, 2, 2, 2, 2, 2, 1),
			   (1, 1, 1, 1, 1, 1, 1),
			));
		}
	}
}
