.h-l1\:{
	&1{
		width: calc(2 * var(--h-l1-width));
		&:before{
			top: var(--h-l1-height);
			@include box-shadow((
			   (0, 1),
			   (1, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			));
		}
	}
	&2{
		width: calc(4 * var(--h-l1-width));
		&:before{
			top: var(--h-l1-height);
			@include box-shadow((
			   (0, 1, 1, 0),
			   (1, 0, 0, 1),
			   (0, 0, 0, 1),
			   (0, 0, 1, 0),
			   (0, 1, 0, 0),
			   (1, 1, 1, 1),
			));
		}
	}
	&3{
		width: calc(4 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: var(--h-l1-height);
			@include box-shadow((
			   (1, 1, 1, 0),
			   (0, 0, 0, 1),
			   (0, 0, 1, 0),
			   (0, 0, 0, 1),
			   (0, 0, 0, 1),
			   (1, 1, 1, 0),
			));
		}
	}
	&4{
		width: calc(5 * var(--h-l1-width));
		&:before{
			top: var(--h-l1-height);
			@include box-shadow((
			   (0, 0, 0, 1, 0),
			   (0, 0, 1, 1, 0),
			   (0, 1, 0, 1, 0),
			   (1, 1, 1, 1, 1),
			   (0, 0, 0, 1, 0),
			   (0, 0, 0, 1, 0),
			));
		}
	}
	&5{
		width: calc(3 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: var(--h-l1-height);
			@include box-shadow((
			   (1, 1, 1),
			   (1, 0, 0),
			   (1, 1, 0),
			   (0, 0, 1),
			   (0, 0, 1),
			   (1, 1, 0),
			));
		}
	}
	&6{
		width: calc(4 * var(--h-l1-width));
		&:before{
			top: var(--h-l1-height);
			@include box-shadow((
			   (0, 0, 1, 0),
			   (0, 1, 0, 0),
			   (1, 1, 1, 0),
			   (1, 0, 0, 1),
			   (1, 0, 0, 1),
			   (0, 1, 1, 0),
			));
		}
	}
	&7{
		width: calc(5 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: var(--h-l1-height);
			@include box-shadow((
			   (1, 1, 1, 1, 1),
			   (0, 0, 0, 1, 0),
			   (0, 0, 0, 1, 0),
			   (0, 0, 1, 0, 0),
			   (0, 0, 1, 0, 0),
			   (0, 1, 0, 0, 0),
			));
		}
	}
	&8{
		width: calc(4 * var(--h-l1-width));
		&:before{
			top: var(--h-l1-height);
			@include box-shadow((
			   (0, 1, 1, 0),
			   (1, 0, 0, 1),
			   (0, 1, 1, 0),
			   (1, 0, 0, 1),
			   (1, 0, 0, 1),
			   (0, 1, 1, 0),
			));
		}
	}
	&9{
		width: calc(4 * var(--h-l1-width));
		&:before{
			top: var(--h-l1-height);
			@include box-shadow((
			   (0, 1, 1, 0),
			   (1, 0, 0, 1),
			   (0, 1, 1, 1),
			   (0, 0, 0, 1),
			   (0, 0, 1, 0),
			   (0, 0, 1, 0),
			));
		}
	}
	&0{
		width: calc(4 * var(--h-l1-width));
		&:before{
			top: var(--h-l1-height);
			@include box-shadow((
			   (0, 1, 1, 0),
			   (1, 0, 0, 1),
			   (1, 0, 0, 1),
			   (1, 0, 0, 1),
			   (1, 0, 0, 1),
			   (0, 1, 1, 0),
			));
		}
	}
}