.h-l1\:{
	&\.{
		width: calc(1 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: calc(6 * var(--h-l1-height));
			@include box-shadow((
			   (1),
			));
		}
	}
	&\:{
		width: calc(1 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: calc(2 * var(--h-l1-height));
			@include box-shadow((
			   (1),
			   (0),
			   (0),
			   (1),
			   (0),
			));
		}
	}
	&\,{
		width: calc(1 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: calc(6 * var(--h-l1-height));
			@include box-shadow((
			   (1),
			   (1),
			));
		}
	}
	&\;{
		width: calc(2 * var(--h-l1-width));
		&:before{
			top: calc(2 * var(--h-l1-height));
			@include box-shadow((
			   (0, 1),
			   (0, 0),
			   (0, 0),
			   (0, 1),
			   (1, 0),
			));
		}
	}
	&\'{
		width: calc(2 * var(--h-l1-width));
		&:before{
			@include box-shadow((
			   (0, 1),
			   (1, 0),
			   (0, 0),
			   (0, 0),
			   (0, 0),
			   (0, 0),
			   (0, 0),
			));
		}
	}
	&\"{
		width: calc(3 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: var(--h-l1-height);
			@include box-shadow((
			   (1, 0, 1),
			   (1, 0, 1),
			   (0, 0, 0),
			   (0, 0, 0),
			   (0, 0, 0),
			   (0, 0, 0),
			));
		}
	}
	&\({
		width: calc(2 * var(--h-l1-width));
		&:before{
			@include box-shadow((
			   (0, 1),
			   (1, 0),
			   (1, 0),
			   (1, 0),
			   (1, 0),
			   (1, 0),
			   (1, 0),
			   (0, 1),
			));
		}
	}
	&\){
		width: calc(2 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			@include box-shadow((
			   (1, 0),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (1, 0),
			));
		}
	}
	&\!{
		width: calc(1 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: var(--h-l1-height);
			@include box-shadow((
			   (1),
			   (1),
			   (1),
			   (1),
			   (0),
			   (1),
			));
		}
	}
	&\?{
		width: calc(3 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: var(--h-l1-height);
			@include box-shadow((
			   (1, 1, 1),
			   (0, 0, 1),
			   (0, 0, 1),
			   (0, 1, 0),
			   (0, 0, 0),
			   (0, 1, 0),
			));
		}
	}
	&\+{
		width: calc(5 * var(--h-l1-width));
		&:before{
			top: calc(2 * var(--h-l1-height));
			@include box-shadow((
			   (0, 0, 1, 0, 0),
			   (0, 0, 1, 0, 0),
			   (1, 1, 1, 1, 1),
			   (0, 0, 1, 0, 0),
			   (0, 0, 1, 0, 0),
			));
		}
	}
	&\-{
		width: calc(6 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: calc(4 * var(--h-l1-height));
			@include box-shadow((
			   (1, 1, 1, 1, 1, 1),
			));
		}
	}
	&\*{
		width: calc(4 * var(--h-l1-width));
		&:before{
			top: var(--h-l1-height);
			@include box-shadow((
			   (0, 1, 0, 0),
			   (0, 1, 1, 1),
			   (1, 1, 1, 0),
			   (0, 0, 1, 0),
			));
		}
	}
	&\/{
		width: calc(5 * var(--h-l1-width));
		&:before{
			top: calc(2 * var(--h-l1-height));
			@include box-shadow((
			   (0, 0, 0, 0, 1),
			   (0, 0, 0, 1, 0),
			   (0, 0, 1, 0, 0),
			   (0, 1, 0, 0, 0),
			   (1, 0, 0, 0, 0),
			));
		}
	}
	&\={
		width: calc(4 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			top: calc(3 * var(--h-l1-height));
			@include box-shadow((
			   (1, 1, 1, 1),
			   (0, 0, 0, 0),
			   (1, 1, 1, 1),
			));
		}
	}
	&\[{
		width: calc(2 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			@include box-shadow((
			   (1, 1),
			   (1, 0),
			   (1, 0),
			   (1, 0),
			   (1, 0),
			   (1, 0),
			   (1, 0),
			   (1, 1),
			));
		}
	}
	&\]{
		width: calc(2 * var(--h-l1-width));
		&:before{
			background: var(--h-l1-color);
			@include box-shadow((
			   (1, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (0, 1),
			   (1, 1),
			));
		}
	}
}
